<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>
      Here's your stuff!
    </p>
    <ul>
    	<li>First name: <%= @user.sponsor_profile.first_name %></li>
    	<li>Last Name: <%= @user.sponsor_profile.last_name %></li>

    </ul>
      
   	
  </body>
</html>