<div class="flex-container-center">
	<div class="form-container">
		<br>
<hr class="header-line-top" />
<h1 class="center">Edit Sponsor Profile</h1>
<hr class="header-line-bottom" />
<%= render 'form', sponsor_profile: @sponsor_profile %>

</div>
</div>