<div class="container">
	<div class="flex-container-center registration-landing">
		<div class="col-md-6">
			<p>I am a business owner. I would like to give the Financial Wellness program to my customers/employees.</p>
			<%= link_to "Sponsor Registration", sponsorregistration_path, class: 'btn btn-primary btn-lg' %> 
		
		</div>
		<div class="col-md-6">
			<p>I am a user that has received a free membership from a Business Sponsor.</p>
			<%= link_to "User Registration", userregistration_path, class: 'btn btn-primary btn-lg' %> 
		</div>
	</div>
</div>