@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400');
/*===========GLOBAL STYLES =========*/
html {
	font-size: 15px;
	min-height: 100vh;
	  position: relative;
}
body {
	margin-bottom: 200px;
	color: #767c7c;
}
.btn-primary {
	background: #5A9D96 !important;
	color: white !important;
	border: none !important;
}
.btn-default {
	border: none !important;
}
a.btn-default, a.btn-default:visited {
	color: #5A9D96 !important;
}
.flex-container-center {
	display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 300px);
}
h1 {
	font-family: 'Fira Sans', sans-serif;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 700;
}
h2 {
	font-family: 'Fira Sans', sans-serif;
	text-transform: uppercase;
	font-size: 1.5rem;
		font-weight: 700;

}
h3 {
	font-family: 'Fira Sans', sans-serif;
	text-transform: uppercase;
	font-size: 1.25rem;
}
h4 {
	font-family: 'Fira Sans', sans-serif;
	text-transform: uppercase;
	font-size: 1rem;
}
p, ul, ol, table {
	font-family: 'Work Sans', sans-serif;
	font-size: 1rem;
}
.header-line-top {
	margin-bottom: 20px;
	border-top: 1px solid #999b9b;
	width: 20%;
	margin: 0 auto;

}
.header-line-bottom {
	margin-top: 20px;
	border-top: 1px solid #999b9b;
	width: 20%;
	margin: 0 auto;
}
.header-line-bottom-left {
	margin-top: 20px;
	border-top: 1px solid #e3e5e5;
	width: 20%;
	
}
.center {
	text-align: center;
}

/*===========HERO STYLES =========*/
.hero {
	background: url('hero.jpg') no-repeat center center;
	background-size: cover;
	height: 800px;
}
.hero-overlay {
	height: 800px;

background: rgba(92,157,150,0.92);
background: -moz-linear-gradient(-45deg, rgba(92,157,150,0.92) 1%, rgba(133,184,179,0.91) 51%, rgba(153,170,202,0.91) 72%, rgba(153,170,202,0.9) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(1%, rgba(92,157,150,0.92)), color-stop(51%, rgba(133,184,179,0.91)), color-stop(72%, rgba(153,170,202,0.91)), color-stop(100%, rgba(153,170,202,0.9)));
background: -webkit-linear-gradient(-45deg, rgba(92,157,150,0.92) 1%, rgba(133,184,179,0.91) 51%, rgba(153,170,202,0.91) 72%, rgba(153,170,202,0.9) 100%);
background: -o-linear-gradient(-45deg, rgba(92,157,150,0.92) 1%, rgba(133,184,179,0.91) 51%, rgba(153,170,202,0.91) 72%, rgba(153,170,202,0.9) 100%);
background: -ms-linear-gradient(-45deg, rgba(92,157,150,0.92) 1%, rgba(133,184,179,0.91) 51%, rgba(153,170,202,0.91) 72%, rgba(153,170,202,0.9) 100%);
background: linear-gradient(135deg, rgba(92,157,150,0.92) 1%, rgba(133,184,179,0.91) 51%, rgba(153,170,202,0.91) 72%, rgba(153,170,202,0.9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c9d96', endColorstr='#99aaca', GradientType=1 );	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}
.hero-overlay h1, .hero-overlay h2 {
	color: white;
}
.hero-overlay h1 {
	font-family: 'Alegreya Sans';
	text-transform: initial;
	font-size: 4.5rem;
	font-weight: 300;
	text-align: center;
}
.hero-overlay h2 {
	text-transform: initial;
	font-family: 'Alegreya Sans';
		font-weight: 300;
		font-size: 2.2rem;
		margin-top: -10px;

}
#diamond {
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #d5efec;
	position: relative;
	top: -20px;
}
#diamond:after {
	content: '';
	position: absolute;
	left: -20px;
	top: 20px;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #d5efec;
}
/*===========NAVBAR STYLES =========*/
header.home {
	position: fixed;
	width: 100%;
}
.home .navbar-default {
	 background-color: transparent !important;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    border: none;
}
.navbar-default {
	 padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    border: none;
}
.navbar-default a {
	font-size: 1rem;
}
.teal {
	color: #a8dbd5 !important;
}
.home a.navbar-brand {
	font-size: 2rem !important;
	color: white !important;
}
a.navbar-brand {
	font-size: 2rem;
}
li.registration {
	margin-right:15px;
}

.home nav li a {
	color: white !important;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1.5px;
}
nav li a {
	color: black !important;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1.5px;
}
/*===========FORM STYLES =========*/

.form-container {
	width: 500px;
	margin: 0 auto;
}
.form-header {
	background: #5A9D96;
	color: #ecf0f1;
	padding-bottom: 15px;
	padding-top: 4px;
	margin-bottom: 20px;
}
.form-container h2{
	font-size: 1.1rem;
	text-transform: uppercase;
	text-align: center;

}
#msform fieldset {
	min-height: 100%;
}
#msform {
	width: 500px;
	margin: 50px auto;
	text-align: center;
	position: relative;
	min-height: 100%;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative !important;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}
/*===========ADMIN PANEL STYLES =========*/

/*===========PAGE STYLES =========*/
.profile {
	flex-direction: column;
	display: flex;
  	text-align: center;

}
.profile-container {
	background: #5A9D96;
	padding: 10px;
	margin-top: 20px;
	color: #e3e5e5;
	padding-bottom: 20px;
}
.profile h1, .profile h2, .profile h3 {
	text-align: center;	

}
.profile img {
	align-self: center;
	margin-bottom: 20px;
	border-radius: 50%;
	border: 2px solid #f4f7f7;
}
.profile ul {
	list-style-type: none;
	margin-left: -30px;
}
.profile a{
	color: #e3e5e5;
}
/*===========REGISTRATION LANDING PAGE STYLES =========*/
.registration-landing {
	text-align: center;
}
/*===========FOOTER STYLES =========*/

 #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 200px;
    background-color: #f5f5f5;
    }
  

/*===========MEDIA QUERIES =========*/

@media (max-width: 768px) {
	.form-container {
		width: 100%;
	}

}

